
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

/* Estilo para la página */
.page {
    width: 8.5in;  /* Ancho  página */
    height: 11in;  /* Alto  página  */
    background-color: #ffffff;
    padding: 1in; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-wrap: wrap;
    /*margin: 2rem; /* Para contrarrestar el padding de las columnas */
}

.column {
    flex: 1;
    padding: 1rem;
    box-sizing: border-box; /* Incluye el padding en el tamaño total */
}

.foto_perfil {
    width: 300px;         /* Establece el ancho deseado */
    height: 300px;        /* Establece el alto deseado (debe ser igual al ancho para un círculo perfecto) */
    border-radius: 50%;  /* Hace que la imagen sea redonda */
    object-fit: cover;    /* Ajusta la imagen para cubrir el contenedor sin deformarse */
    border: 1px solid #06e0fc;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);



    
    

}

